form.ajaxForm.form-post(method='POST', action='/api/posts', role='form')
  .form-group
    div.form-control#inputPost Write something...
  .form-group.text-right.form-actions.form-post-actions
    button.btn.btn-primary.btn-custom(type='submit') Publish