form.ajaxForm.form-post(method='POST', action='/api/quote', role='form')
  .form-group
    textarea.form-control.input-quote(name='body', placeholder='Quote someone...')
  .form-group.text-right.form-actions.form-quote-actions
    button.btn.btn-primary.btn-custom(type='submit') Publish