form.ajaxForm(method='POST', action='/api/images', role='form')
  .form-group
    #dragdrop 
      p Drag Image Here
      input.form-control(name="image", type='file', placeholder='Upload Image')
  .form-group
    textarea.form-control(name="body", placeholder='Write something...')
  .form-group.form-actions
    button.cancel.btn.btn-default.btn-custom Cancel
    button.btn.btn-success.btn-custom(type="submit") Upload