ul.form-base
  li(style='display:block')
    include form_post
  li(style='display:none')
    include form_image
  li(style='display:none')
    include form_list
  li(style='display:none')
    include form_quote    