doctype 5
html
  head
    title Share Tuna
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/tuna.css')
    link(rel='stylesheet', href='/css/bootstrap-markdown.min.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/js/libs/jquery.form.min.js')
    script(src='/js/libs/superagent.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='/js/libs/page.js')  
    script(src='/js/libs/markdown.js')  
    script(src='/js/libs/bootstrap-markdown.js')  
    script(src='/js/app.js')