doctype 5
html
  head
    title Share Tuna
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/tuna.css')
    link(rel='stylesheet', href='/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='/css/summernote.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/js/libs/jquery-1.10.2.js')
    script(src='/js/libs/jquery.form.js')
    script(src='/js/libs/underscore.js')
    script(src='/js/libs/superagent.js')
    script(src='/js/libs/bootstrap.js')
    script(src='/js/libs/page.js')  
    script(src='/js/libs/markdown.js')  
    script(src='/js/libs/bootstrap-markdown.js')  
    script(src='/js/libs/jquery.filedrop.js')
    script(src='/js/libs/summernote.js')
    script(src='/js/app.js')