doctype 5
html
  head
    title Share Tuna
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/tuna.css')
    link(rel='stylesheet', href='/css/summernote.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/js/production.min.js')