@font-face {
  font-family: "VAG Round";
  src: url('../fonts/VAG-Round.eot');
  src: url('../fonts/VAG-Round.eot?#iefix') format('embedded-opentype'),
  url('../fonts/VAG-Round.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #2b2b2b;
}

h1.page-heading {
  font-family: 'VAG round';
  font-size : 60px;
  color:#FFF;
}
.circle-cont {
  text-align: center;
}
.circle {
  color:#FFF;
  background: red;
  width:75px;
  height: 75px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.circle i {
  font-size: 32px;
  line-height: 75px;
  cursor: pointer;
}

.circle.post {  background: #ff4141 }
.circle.image {  background: #a841ff }
.circle.top10 {  background: #41acff }
.circle.quote {  background: #ff7741 }

.first {
    -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.second {
    -webkit-animation-duration: 0.75s;
     -moz-animation-duration: 0.75s;
       -o-animation-duration: 0.75s;
          animation-duration: 0.75s;
}
.thirt {
    -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}
.fourth {
    -webkit-animation-duration: 1.25s;
     -moz-animation-duration: 1.25s;
       -o-animation-duration: 1.25s;
          animation-duration: 1.25s;
}
.show {
  display: block;
}
.hide {
  display: none;
}

textarea {
  border: none !important;
  overflow: auto !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  resize: none !important;  

  font-family: 'VAG round';
}
ul.no-space {
  padding: 0;
  margin: 0;
}
.view-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px !important;
}
.btn-custom {
  font-family: 'VAG round';
  font-size: 1.2em;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px; 
}
.spanned{
  width: 100% !important;
  display: block;
}


/* POSTS */
.form-base {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px !important;
}
.form-post textarea{
  font-size: 2em !important;
  height: 220px;
}
.form-actions {
  margin-bottom: 3px !important;
}

/* OVERRIDE SUMMERNOTE */
.note-editor {
  border: none !important;
}
.note-editable {
  overflow: auto !important;
  min-height: 300px;
}
.note-toolbar{
  background-color: white !important;
  border: none !important;
}
.note-style ul li {
  cursor: pointer;
}
/* IMAGES*/
.image-container img{
  width: 100%;
}
/*-------------------------
    dragdrop Element
--------------------------*/
#dragdrop {
  height: 100px;
  border: dashed 2px #999;
  border-radius: 5px;
  text-align: center;
}
#dragdrop input {
  margin: 25px auto 0 auto;
  display: none;
}
#dragdrop p {
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
  margin-top: 40px;
  color: silver;
}

#dragdrop{
    border-radius:3px;
    position: relative;
    min-height: 290px;
    overflow: hidden;
    padding-bottom: 40px;
}

#dragdrop .message{
    text-align: center;
    padding-top:90px;
    display: block;
}

#dragdrop .message i{
    color:#ccc;
}

#dragdrop:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dragdrop .preview{
    width:245px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#dragdrop .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;
}

#dragdrop .imageHolder{
    display: inline-block;
    position:relative;
}

#dragdrop .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: none;
    background: no-repeat center center rgba(255,255,255,0.5);
}

#dragdrop .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dragdrop .progressHolder{
    background-color:#252f38;
    height:8px;
    width:100%;
    margin-top:10px;
}

#dragdrop .progress{
    background-color:#2586d0;
    height:8px;
    width:0;
    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dragdrop .preview.done .progress{
    width:100% !important;
}

/* TOPS */
.top-item{
  margin-top:10px;
}
